@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cloud course!</h1>
    <h1 class="display-4">tufft!</h1>
    

    <h1 class="display-4">va!</h1>
    <h1 class="display-4">säger vi!</h1>


    <img src="Assignment-Cloud\Pages\fly.jpg" alt="cloud..In the sky?">

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
