@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cloud course!</h1>
    <h1 class="display-4">tufft!</h1>
    

    <h1 class="display-4">va!</h1>
    <h1 class="display-4">säger vi!</h1>


    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.co.uk%2Fcyberhostpro%2Fcloud-computing-memes%2F&psig=AOvVaw3v5J7qSYnWFRZnoHwsiubO&ust=1645882667487000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPD5m_D8mvYCFQAAAAAdAAAAABAD" alt="cloud..In the sky?">

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
