@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cloud course!</h1>
    <h2 class="display-4">Tufft!</h2>

    <img src="\images\fly.jpg" alt="cloud..In the sky?">

</div>
