@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cloud course!</h1>
    <h1 class="display-4">tufft!</h1>

    @* <img src="\images\fly.jpg" alt="cloud..In the sky?"> *@

</div>
